@model PagedList.IPagedList<Model.EF.Post>
@using Model.DAO;
@using PagedList.Mvc;
@using itforum_teamwork.Common

@{
    ViewBag.Title = "Trang chủ";
    ViewBag.Home = "active";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var userDAO = new UserDAO();
    var catDAO = new CategoryDAO();
}

<!--features_items-->

<h2 class="title text-center">Dòng bài viết</h2>
@if (!string.IsNullOrEmpty(ViewBag.searchString))
{
    <h5 class="form-inline">Có <span class="badge">@ViewBag.foundNumbers</span> kết quả cho từ khóa <strong class="italic">"@ViewBag.searchString"</strong>.</h5>
    <br />
}
@if (Model.Count > 0)
{
    foreach (var item in Model)
    {

        var userModel = userDAO.GetUserByID(item.UserID);
        var catModel = catDAO.GetCategoryByID(item.CategoryID);

        var linkByUser = "/bai-viet/tac-gia/" + ConvertToUnsign.ConvertToUnSign(userModel.Name).ToLower() + "-" + item.UserID;
        var linkByCategory = "/bai-viet/danh-muc/" + ConvertToUnsign.ConvertToUnSign(catModel.CategoryName).ToLower() + "-" + item.CategoryID;
        var linkRead = "/bai-viet/chi-tiet/" + ConvertToUnsign.ConvertToUnSign(item.Title).ToLower() + "-" + item.PostID;

        <div class="col-sm-12 ">
            <div class="col-sm-4 post_info">
                <div class="pic_box">
                    <img src="@Url.Content(""+item.ImageShowOnHome)" width="270" height="280" alt="@item.Title" />
                </div>
                <div class="overlay">
                    <ul class="info">
                        <li>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span><a href="@linkByUser">@userModel.Name</a></span>
                        </li>
                        <li>
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                            <span><a href="@linkByCategory">@catModel.CategoryName</a></span>
                        </li>
                        <li>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>@item.PostedDate</span>
                        </li>
                        <li>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span>@item.Views</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-7 col-sm-offset-1">
                <a href="@linkRead" id="viewPost" data-id="@item.PostID"><h4>@item.Title</h4></a>
                <p>@Html.Raw(item.Content)</p>
                <button class="btn btn-primary">
                    <a href="@linkRead"> Xem thêm </a><span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
        <div class="clear"></div>

    }
}
else
{
    <h4 class="text-center text-danger">Không có dữ liệu</h4>
}
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString }))


